body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: #081F2C; 
    color: #007D8A; 
    color: #00BFB3; */
    color: #E8DED2;
    /* color: #EAA794;
    color: #B46A55; */
    background-color: #081F2C;
    /* overflow: hidden; */
    /* height: 200vh; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

p {
    padding: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

aside {
  display: flex;
  flex: 1 0 10%;
  margin: 50px;
  background-color: #00BFB3;
  border-radius: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007d8a;
    height: 100%;
    /* margin: 20px; */
    padding: 10px;
    width: 60%;
    border-radius: 30px;
  }

main {
    overflow-y: auto;
  }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8DED2;
    color: #081F2C ;
    width: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  } 

footer {
    display: flex;
    flex-direction: row;
    background-color: none;
  }

#avatar {
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin: 20px;
    float: left;
  }

#avatar_container {
    display: flex;
    align-self: center;
}

#contact_container {
    background-color: none;
}

#header_container {
    display: flex;
    flex-direction: row wrap;
    /* background-color: yellow; */
}

#intro {
    width: 80%;
    /* background-color: orange; */
    text-align: left;
}

#myname {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: green;
    text-align: left;
}

#skills_container {
  display: flex;
  flex-direction: column wrap;
}

.lang_icon {
    margin: 1em;
    width: 5%;
}

.wrapper {
    display: flex;
    height: 100%;
  }

  /* contact form */
.contact-us {
    background-color: bisque ;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact_input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, select, .form-control {
    display: flex;
    /* flex-grow: 1; */
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 10px 10px 10px 20px;
    outline: none;
    color: indigo;
    margin: 10px;
  }
  
  input:focus {
    background-color:rgb(241, 178, 130);
  }
  
  ::placeholder{
    color:rgb(138, 119, 154);
  }
  
  textarea {
    width: 80%;
    height: 100px;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    resize: none;
  }
  
  button {
    width: 70px;
    margin-top: 10px;
    transition: transform 0.7s ease-in-out;
    background-color: indigo;
    border-radius: 30px;
  }
  
  #mail_img {
    width: 40px;
    height: 40px;
  }
  
  button:hover {
    transform: rotate(360deg);
  }

  @media (max-width: 500px) {
    .wrapper {
      flex-direction: column-reverse;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
  }